absl-py==1.4.0
affine==2.4.0
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.5.0
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
boto3==1.15.3
botocore==1.18.18
cachetools==5.3.1
Cartopy==0.22.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.1.1
chromedriver-py==114.0.5735.90
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
coverage==7.2.7
cycler==0.11.0
dask==2023.8.0
dataclasses-json==0.5.13
decorator==5.1.1
distlib==0.3.7
docutils==0.20.1
duckdb==0.8.1
dynamic-yaml==1.3.4
exceptiongroup==1.1.2
executing==1.2.0
filelock==3.12.2
Fiona==1.9.4.post1
flake8==6.1.0
flatbuffers==23.5.26
fonttools==4.42.0
frozenlist==1.4.0
fsspec==2023.6.0
futures==2.2.0
gast==0.4.0
geopandas==0.13.2
gh==0.0.4
gitdb==4.0.10
github==1.2.7
GitPython==3.1.32
google-api-core==2.11.1
google-api-python-client==2.94.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1
grpcio==1.57.0
h11==0.14.0
h5py==3.9.0
httplib2==0.22.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.14.0
ipywidgets==8.1.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.7.1
joblib==1.3.2
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyterlab-widgets==3.0.8
keras==2.13.1
kiwisolver==1.4.4
libclang==16.0.6
locket==1.0.0
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.25.2
oauth2client==4.1.3
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.2.0
owid-repack==0.1.2
packaging==23.1
pandas==1.5.3
pandas-stubs==2.0.2.230605
parso==0.8.3
partd==1.4.0
pi==0.1.2
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.7.23
platformdirs==3.10.0
plotly==5.16.1
pluggy==1.2.0
polars==0.18.15
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
pydeck==0.8.0
PyDrive @ git+https://github.com/googledrive/PyDrive.git@42022f9a1c48f435438fce74ad4032ec9f34cfd1
pyflakes==3.1.0
Pygments==2.15.1
pygwalker==0.3.3
Pympler==1.0.1
pyparsing==3.0.9
pyproj==3.6.0
pyshp==2.3.1
PySocks==1.7.1
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
rasterio==1.3.8
referencing==0.30.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
rpds-py==0.9.2
rsa==4.9
s3transfer==0.3.7
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
selenium==4.10.0
shapely==2.0.1
six==1.16.0
sklearn==0.0.post7
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlglot==17.14.2
st-pages==0.4.3
stack-data==0.6.2
streamlit==1.25.0
streamlit-aggrid==0.3.4.post3
structlog==23.1.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.2.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.3
types-pytz==2023.3.0.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.25.11
validators==0.20.0
virtualenv==20.24.3
virtualenv-clone==0.5.7
watchdog==3.0.0
wcwidth==0.2.6
Werkzeug==2.3.6
widgetsnbextension==4.0.8
wrapt==1.15.0
wsproto==1.2.0
xarray==2023.7.0
yarl==1.9.2
zipp==3.16.2
